/* mystyle.css */

body {
    font-family: 'Aleo', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #e90606 50%, #3607f1 50%); */
    background: linear-gradient(to right, #ff0000, #ff0000 25%, #0000ff 75%, #0000ff);
  } 
  /* mystyle.css */

  
  .calculator-inner {
    position: relative;
    z-index: 1;
  }
  

  
  #heading {
    text-align: center;
    font-family: 'Atomic Age', cursive;
    color: #030303;
    margin: 30px 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ff0000, #ff0000 25%, #0000ff 75%, #0000ff);
  } 
  
  
  
  
  .button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #f7f1f1;
    color: #070707;
    border-radius: 0.5cm;
    border: #070707 solid 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.8);
    
  }
  
  .button.operator {
    background-color: #f0f0f0;
  }
  
  .button.equalBtn {
    background-color: #7f9eb2;
    color: #fff;
  }
  
  .button:hover {
    background-color: #0c0c0d8a;
  }
  
  .button:focus {
    outline: none;
  }
  
  .body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #inputBox {
    width: 90%;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.8);
  }
  